<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>Vocabulary</title>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="lib/jquery-mobile/jquery.mobile-1.2.0.css"/>
	<!--<link rel="stylesheet" href="components/jqmobile-metro-theme/themes/metro/jquery.mobile.metro.theme.css"/>-->
	<link rel="stylesheet" href="styles/main.css"/>
</head>
<body ng-app="vocabularyAngularApp">

	<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="components/es5-shim/es5-shim.js"></script>
	<script src="components/json3/lib/json3.js"></script>
	<![endif]-->

	<!-- application content -->
	<div class="container" ng-controller="MainCtrl">

		<div id="list" data-role="page" ng-controller="ListCtrl"
		     ngm-pagebeforeshow="refresh()">

			<div data-role="header">
				<h1>Vocabulary</h1>
				<a href="#add" data-role="button">Add</a>
				<a href="#quiz" data-role="button">Quiz</a>
			</div>

			<div data-role="content">
				<input type="text" ng-model="filterText" data-type="search"/>

				<div class="hero-unit">
					<ul data-role="listview" data-inset="true" data-icon="">
						<!--<li data-role="list-divider">A</li>-->
						<li ng-repeat="word in words | filter:filterText | orderBy:'infos.score' | pager:'wordsPager':4">
							<p><h3>{{word.text}}</h3></p>
							<p><strong>{{word.translation}}</strong></p>
							<p>{{word.description}}</p>
							<p class="ui-li-aside"><strong>{{word.infos.score}}</strong>%</p>
						</li>
						<a ngm-if="wordsPager.hasMore"
						   ngm-click="wordsPager.loadMore()"
						   data-role="button" data-icon="refresh"
						   href="#"
						   style="text-align: center;">
							Load more
						</a>
					</ul>
				</div>
			</div>
		</div>

		<div id="add" data-role="page" ng-controller="AddCtrl"
		     ngm-swiperight="back()">
			<div data-role="header">
				<h1>Vocabulary</h1>
				<a href="#list" data-role="button">Home</a>
				<a href="#quiz" data-role="button">Quiz</a>
			</div>

			<div data-role="content">
				<div data-role="fieldcontain">
					<form ng-submit="addWord()" data-ajax="false">
						<input type="text" id="inputWord" ng-model="newWord.text" placeholder="word" ng-model-instant>
						<input type="text" id="inputTranslation" ng-model="newWord.translation" placeholder="translation" ng-model-instant>
						<input type="text" id="inputDescription" ng-model="newWord.description" placeholder="description" ng-model-instant>
						<input type="submit" value="Add">
					</form>
				</div>
			</div>
		</div>

		<div id="quiz" data-role="page" ng-controller="QuizCtrl"
		     ngm-swiperight="back()">
			<div data-role="header">
				<h1>Vocabulary</h1>
				<a href="#list" data-role="button">Home</a>
				<a href="#add" data-role="button">Add</a>
			</div>

			<div data-role="content">
				<ul data-role="listview" data-inset="true">
					<li>
						<p><h3>{{getCurrentWord().text}}</h3></p>
						<p ngm-if="isAnswerVisible"><strong>{{getCurrentWord().translation}}</strong></p>
						<p ngm-if="isAnswerVisible">{{getCurrentWord().description}}</p>
						<p class="ui-li-aside"><strong>{{getCurrentWord().infos.score}}</strong>%</p>
					</li>
					<a ngm-if="!isAnswerVisible"
						 ngm-click="showAnswer()"
					   data-role="button"
					   href="#"
					   style="text-align: center;">
						Answer
					</a>
					<div ngm-if="isAnswerVisible">
						<a ngm-click="markAsUnknown()"
						   data-role="button"
						   href="#"
						   style="text-align: center; float: right; width: 49%;">
							Unknown
						</a>
						<a ngm-click="markAsKnown()"
						   data-role="button"
						   href="#"
						   style="text-align: center; float: left; width: 49%;">
							Known
						</a>
					</div>
				</ul>
			</div>
		</div>

	</div>

	<script src="components/jquery/jquery.js"></script>
	<script src="lib/jquery-mobile/jquery.mobile-1.2.0.js"></script>
	<script src="components/angular-complete/angular.js"></script>
	<script src="components/jquery-mobile-angular-adapter/compiled/jquery-mobile-angular-adapter-1.1.1.js"></script>
	<!--<script src="components/jqmobile-metro-theme/themes/metro/jquery.mobile.metro.theme.init.js"></script>-->
	<!--<script src="components/jqmobile-metro-theme/themes/themeswitcher/jquery.globalstylesheet.js"></script>-->
	<!--<script src="components/jqmobile-metro-theme/themes/themeswitcher/jquery.mobile.themeswitcher.js"></script>-->

	<!-- build:js scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/services/LocalStorage.js"></script>
	<script src="scripts/model/Word.js"></script>
	<script src="scripts/filters/pager.js"></script>
	<script src="scripts/services/WordsDataService.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/list.js"></script>
	<script src="scripts/controllers/add.js"></script>
	<script src="scripts/controllers/quiz.js"></script>
	<!-- endbuild -->

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<!--<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>-->
</body>
</html>
