<div id="main" data-role="page" ngm-pagebeforeshow="refresh()" ngm-swipeleft="showSettings()">
	<div data-role="header">
		<h1>Vocabulary</h1>
		<a href="" id="save" data-role="button" ngm-click="save()">Save</a>
		<a href="#settings" data-role="button">Settings</a>
	</div>

	<div data-role="content">
		<div class="hero-unit">
			<ul data-role="listview" data-autodividers="true" data-inset="true">
				<li ng-repeat="word in words">
					<h3>{{word.w}}</h3>
					<p><strong>{{word.t}}</strong></p>
					<p>{{word.d}}</p>
					<p class="ui-li-aside"><strong>50</strong>%</p>
				</li>
			</ul>
		</div>
	</div>
</div>